h1 {
  text-align: center;
}

h1{
  text-decoration: underline;
}

h3 {
  color: white
}

.logo {
  text-align: center;
}

img {
  height: 300px;
  text-align: center;
}

.house {
  float: left;
  width: 50%;
  background-color: darkblue;
}

.during {
  float: right;
  background-color: tan;
}
